*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}
body{
    width: 100%;
    color: honeydew;
    background-color: rgba(93,71,48,0.65);
    font-family: "Arial Unicode MS", sans-serif;
    font-size: 24px;
    font-stretch: normal;
    line-height: 135%;
}
.container {
    color: honeydew;
    width: 100%;
    margin: 0 auto;
    clear: both;
    background-color: rgba(93,71,48,0.65)
}
.flexContainerColumn {
    display: flex;
    flex-direction: column;
}
h2{
    text-align: center;
    color: papayawhip;
}
header{
    width: 100%;
    float: left;
    padding: 1%;
    font-size: 24px;
    background-color: rgba(23,19,9,0.83);
    border-bottom: 2px solid papayawhip;
}
header #logoComeBack{
    width: 30%;
    float: left;
    padding-left: 3%;
    font-size: 1.4em;
}
.logoNika{
    color: honeydew;
}
#menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-top: 0;
}
#menu a {
    text-decoration: none;
    color: whitesmoke;
}
#menu li {
    list-style-type: none;
}
#menu li a:hover {
    color: sandybrown;
}
section p{
    color: honeydew;
}
.review{
    background-color: burlywood;
    border: 2px solid black;
    height: 200px;
}
.authorOfReview{
    font-size: 1.1em;
    color: black;
}
.descriptionOfReview{
    margin-top: 50px;
    color: black;
}
footer{
    width: 98%;
    float: left;
    padding: 1%;
    background-color: rgba(23,19,9,0.83);
    border-top: 2px solid rgba(23,19,9,0.83) ;
    margin-top: 10px;
    color: whitesmoke;
}
footer span{
    color: whitesmoke;
}
@media screen and (orientation: landscape) and (min-width: 480px){
    .container{
        width: 960px;
    }
    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

